<!-- about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - CamelCode</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<canvas class="matrix"></canvas>
<header>
  <nav>
    <div class="logo-container">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="CamelCode Logo">
    </div>
    <div class="nav-links">
      <a href="{{ url_for('home') }}" class="nav-link" id="home-link">Home</a>
      <a href="{{ url_for('blog') }}" class="nav-link" id="blog-link">Blog</a>
      <a href="{{ url_for('about') }}" class="nav-link" id="about-link">About Us</a>
      <a href="{{ url_for('contact') }}" class="nav-link" id="contact-link">Contact</a>
    </div>

  </nav>
</header>

<div class="container about-box">
  <h1>About CamelCode</h1>
  <div class="about-content">
    <p>CamelCode Academy, a proud Qatari initiative dedicated to advancing tech education among the youth. We have been instrumental in running club hours at Qatar Foundation schools, delivering high-end training in <b>AI</b>, <b>Game Design</b>, <b>Robotics</b>, and <b>Cybersecurity</b>.</p>
    <!-- <div class="badges">
      <span class="badge">Cybersecurity</span>
      <span class="badge">Coding</span>
      <span class="badge">AI</span>
    </div> -->
  </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>