<!-- flag.html (Hidden Flag Page) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Flag</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<canvas class="matrix"></canvas>

<!-- div id="error-message" class="error-message"></div-->

<div class="container success-content">

        <h2>You are Almost There!!</h2>
        <p class="highlighted-text">🔐 The final step is to uncover the secret hidden in this encrypted flag:</p>
        <p id="flag-output" class="flag-text">O yaiikyylarre ngiqkj znk ckhyozk!</p>


        <div class="input-container">
            <input type="text" id="user-input" class="answer-box" placeholder="Enter the secret here...">
            <button onclick="checkAnswer()" class="submit-btn">Submit</button>
        </div>


    <div class="hacker-message-box" id="hacker-message-box">
        <div class="hacker-icon">
            <img src="{{ url_for('static', filename='images/hacker2.png') }}" alt="CamelCode Logo">
        </div>
        <div class="hacker-text glitch-text" data-text="Now you're following my lead to become a real hacker...">
            Now you're following my lead to become a real hacker...
        </div>
    </div>

</div>
<script>
    // Inject the URLs of the audio files dynamically using Flask
    var correctAnswerAudioUrl = "{{ url_for('static', filename='sounds/game_win.mp3') }}";
    var wrongAnswerAudioUrl = "{{ url_for('static', filename='sounds/wrong_answer.mp3') }}";
</script>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>